nav.navbar{
    /* position: fixed; */
    color: red;
    background-color:rgba(255, 255, 255, 0.322);
}
body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Chivo', sans-serif;
}
